<div id="background-image-container">
        <img src="https://img.freepik.com/vector-gratis/efecto-luminoso-estadio-luminoso_23-2148366134.jpg" alt="Background" />
</div>
<h1>Bienvenido a la EventHorizon</h1>