<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    {{#each users}}
        <p>Nombre: {{this.name}}</p>
        <p>Email: {{this.email}}</p>
    {{/each}}
</body>
</html>
