<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    {{#each users}}
        <div class="user-card">
            <p>Id: {{_id}}</p>
            <p>Nombre: {{username}}</p>
            <p>Email: {{email}}</p>
            <button class="edit-btn" onclick="editUser('{{_id}}')">Editar</button>
        </div>
    {{/each}}
    <script>
        function editUser(userId){
            window.location.href = `/users/${userId}`;
        }
    </script>
</body>
</html>
