body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    color: white
}

#background-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

#background-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.overlay-container {
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0); 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.search-container {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0); 
    z-index: 2; 
}

#results-container {
    width: 80%;
    max-width: 800px; 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5); /* o cualquier otro estilo de fondo que prefieras */
    color: rgb(204, 0, 0);
}

#pagination {
    display: flex;
    align-items: center;
}

#pagination button {
    margin-right: 5px;
}


#logoutButton {
    padding: 5px 10px;
    background-color: #dc3545;
    color: rgb(255, 237, 237);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    height: 40px;
    width: 20%;
}

.navbar-custom {
    width: 100%;
}
.navbar-light {
    background-color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0,0,0,.1); 
}

h1{
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: auto;
    
  }
  
  .event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .eh-parent {
    flex: 0 0 calc(33.333% - 20px);
    margin-bottom: 20px;
    perspective: 3000px;
  }
  
  .eh-card {
    padding-top: 50px;
    border: 3px solid rgb(255, 255, 255);
    transform-style: preserve-3d;
    background: linear-gradient(135deg,#0000 18.75%,#f3f3f3 0 31.25%,#0000 0),
        repeating-linear-gradient(45deg,#f3f3f3 -6.25% 6.25%,#ffffff 0 18.75%);
    background-size: 60px 60px;
    background-position: 0 0, 0 0;
    background-color: #f0f0f0;
    width: 15%;
    box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
    transition: all 0.5s ease-in-out;
    margin-left: 50px; /* Adjust the margin-left value as needed */
}

  
  .eh-card:hover {
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0.5, 1, 0, 30deg);
  }
  
  .eh-content-box {
    background: rgba(4, 193, 250, 0.732);
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
  }
  
  .eh-content-box .eh-card-title {
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
  }
  
  .eh-content-box .eh-card-title:hover {
    transform: translate3d(0px, 0px, 60px);
  }
  
  .eh-content-box .eh-card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
  }
  
  .eh-content-box .eh-card-content:hover {
    transform: translate3d(0px, 0px, 60px);
  }
  
  .eh-content-box .eh-see-more {
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    font-weight: 900;
    font-size: 9px;
    text-transform: uppercase;
    color: rgb(7, 185, 255);
    background: white;
    padding: 0.5rem 0.7rem;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
  }
  
  .eh-content-box .eh-see-more:hover {
    transform: translate3d(0px, 0px, 60px);
  }
  
  .eh-date-box {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgb(7, 185, 255);
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
  }
  
  .eh-date-box span {
    display: block;
    text-align: center;
  }
  
  .eh-date-box .eh-month {
    color: rgb(4, 193, 250);
    font-size: 9px;
    font-weight: 700;
  }
  
  .eh-date-box .eh-date {
    font-size: 20px;
    font-weight: 900;
    color: rgb(4, 193, 250);
  }
  .eh-card-content strong {
    display: block; 
    font-size: 1.2em; 
    margin-top: 20px; 
    color: #ffffff;
  }
  .eh-card-content ul,
  .eh-card-content .organizador {
    font-size: 1.1em;
    margin-top: 5px; 
    color: #f2f2f2; 
  }
  
  .eh-card-content ul li {
    margin-bottom: 5px; 
  }
  
